<a href="https://colab.research.google.com/github/AmirHosseinAlikhahMishamandani/Code-in-the-Cloud-Python-Mastery-with-Google-Colab/blob/main/Code_in_the_Cloud_Python_Mastery_with_Google_Colab%E2%80%8A_%E2%80%8APart_2%E2%80%8A_%E2%80%8ABasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code in the Cloud: Python Mastery with Google Colab - Part 2 - Basics

## Mastering List Manipulation

### Creating Lists

In [3]:
# Creating a list of integers
my_list = [1, 2, 3, 4, 5]

# Creating a list of strings
fruits = ["apple", "banana", "orange"]

# Creating a list of mixed data types
mixed_list = [1, "hello", 3.14, True]

### Accessing Elements

In [4]:
# Creating a list of integers
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print(my_list[0])      # Output: 1
print(my_list[-1])      # Output: 5

1
5

In [20]:
# Creating a list of integers
my_list = [1, 2, 3, 4, 5]

# Accessing invalid element
print(my_list[5])

IndexError: list index out of range

### Slicing Lists

In [9]:
# Creating a list of integers
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Slicing lists
print(my_list[0:2]) # Elements from index 0 to 1 (upper domain is exclusive)
print(my_list[:5])  # Elements from index 0 to 4 (upper domain is exclusive)
print(my_list[8:])  # Elements from index 8 to the end (upper domain is exclusive)

[0, 1]
[0, 1, 2, 3, 4]
[8, 9]

### Modifying Lists

In [10]:
# Creating a list of strings
fruits = ["apple", "banana", "orange"]

print(fruits)

fruits[1] = 'peach'

print(fruits)

['apple', 'banana', 'orange']
['apple', 'peach', 'orange']

### Adding Elements

In [11]:
# Creating a list of strings
fruits = ["apple", "banana", "orange"]

# Adding elements
fruits.append("grape")
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

['apple', 'banana', 'orange', 'grape']
['apple', 'kiwi', 'banana', 'orange', 'grape']

### Removing Elements

In [13]:
# Creating a list of strings
fruits = ['apple', 'kiwi', 'banana', 'orange', 'grape']

# Removing elements
fruits.remove("banana")
print(fruits)
removed_item = fruits.pop(2)
print(removed_item)
print(fruits)

['apple', 'kiwi', 'orange', 'grape']
orange
['apple', 'kiwi', 'grape']

### Combining Lists

In [14]:
# Combining lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

### Sorting Lists

In [18]:
# Sorting lists
numbers = [3, 1, 5, 2, 4]
numbers.sort()
print(numbers)

numbers = [3, 1, 5, 2, 4]
print(f'{numbers} \n{sorted(numbers, reverse=True)}')

[1, 2, 3, 4, 5]
[3, 1, 5, 2, 4]
[5, 4, 3, 2, 1]

### Finding the Length of a List

In [19]:
my_list = [1, 2, 3, 4, 5]
length_of_list = len(my_list)
print("Length of the list:", length_of_list)

Length of the list: 5

## Comprehensive Guide to For Loops

### Iterating Over a List

In [21]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Iterating Over a String

In [22]:
for char in "hello":
    print(char)

h
e
l
l
o

### Using the enumerate Function

In [1]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

### Nested for Loops

In [2]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for ad in adj:
    for fruit in fruits:
        print(ad, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### Iterating Over a Range

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

### Using break and continue Statements

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10):
    if i == 3:
        continue  # Skip the rest of the loop and move to the next iteration
    if i == 7:
        break  # Exit the loop completely
    print(i)

0
1
2
4
5
6

### Looping Over a Dictionary

In [6]:
person = {"name": "John", "age": 30, "city": "New York"}

# Looping over keys
for key in person:
    print(key)

# Looping over values
for value in person.values():
    print(value)

# Looping over key-value pairs
for key, value in person.items():
    print(key, ":", value)

name
age
city
John
30
New York
name : John
age : 30
city : New York

### List Comprehension

In [7]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Nested List Comprehension

In [8]:
pairs = [(x, y) for x in range(3) for y in range(3)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

## Indentation Error

In [9]:
for i in range(5):
print(i) # Incorrect indentation

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-9-b42bb3e3c7ac>, line 2)

In [10]:
for i in range(5):
    print(i) # Correct indentation

0
1
2
3
4

## Forgetting the Colon

In [11]:
for i in range(5)
  print(i)

SyntaxError: expected ':' (<ipython-input-11-fc36fca50941>, line 1)

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

## Project: Simple Statistics

In [14]:
# Given list of numbers
numbers = [10, 5, 7, 13, 8, 22, 15, 12, 9]

# Multiple Assignment
max_value, min_value, sum_value, mean_value = 0, 0, 0, 0

# Maximum
max_value = max(numbers)

# Minimum
min_value = min(numbers)

# Sum
sum_value = sum(numbers)

# Mean
mean_value = sum_value / len(numbers)

# Output
print("Maximum:", max_value)
print("Minimum:", min_value)
print("Sum:", sum_value)
print("Mean:", mean_value)

Maximum: 22
Minimum: 5
Sum: 101
Mean: 11.222222222222221