<a href="https://colab.research.google.com/github/AmirHosseinAlikhahMishamandani/Code-in-the-Cloud-Python-Mastery-with-Google-Colab/blob/main/Code_in_the_Cloud_Python_Mastery_with_Google_Colab%E2%80%8A_%E2%80%8APart_1%E2%80%8A_%E2%80%8ABasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code in the Cloud: Python Mastery with Google Colab - Part 1 - Basics

## Writing Your First Python Program

In [3]:
print("Hello, world!")

Hello, world!

## Variables and Basic Data Types

In [4]:
# Integer
my_integer = 5

# Float
my_float = 3.14

# String
my_string = "Hello, world!"

# Boolean
my_boolean = True

# List
my_list = [1, 2, 3, 4, 5]

# Tuple
my_tuple = (1, 2, 3)

# Set
my_set = {1, 2, 3}

# Dictionary
my_dict = {'key1': 'value1', 'key2': 'value2'}

# NoneType
my_none = None

## What if we choose to disregard rules?

### Keep it alphanumeric

In [7]:
integer_1 = 5

In [6]:
1_integer = 5

SyntaxError: invalid decimal literal (<ipython-input-6-56de9d6eeef1>, line 1)

### Say no to spaces

In [8]:
My_age = 28

In [10]:
My age = 28

SyntaxError: invalid syntax (<ipython-input-10-b03a508b6d02>, line 1)

### Steer clear of reserved words

In [12]:
False = 0

SyntaxError: cannot assign to False (<ipython-input-12-223dbc74e028>, line 1)

### Mind the lookalikes

In [13]:
Name0 = 28

print(NameO)

NameError: name 'NameO' is not defined

## Printing Variable Values

### Using the print() function

In [1]:
# Integer
my_integer = 5
print(my_integer)
# Float
my_float = 3.14
print(my_float)
# String
my_string = "Hello, world!"
print(my_string)
# Boolean
my_boolean = True
print(my_boolean)
# List
my_list = [1, 2, 3, 4, 5]
print(my_list)
# Tuple
my_tuple = (1, 2, 3)
print(my_tuple)
# Set
my_set = {1, 2, 3}
print(my_set)
# Dictionary
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_dict)
# NoneType
my_none = None
print(my_none)

5
3.14
Hello, world!
True
[1, 2, 3, 4, 5]
(1, 2, 3)
{1, 2, 3}
{'key1': 'value1', 'key2': 'value2'}
None

### Formatted strings (f-strings)

In [2]:
# Integer
my_integer = 5
print(f'My integer is: {my_integer}')
# Float
my_float = 3.14
print(f'My float is: {my_float}')
# String
my_string = "Hello, world!"
print(f'My string is: {my_string}')
# Boolean
my_boolean = True
print(f'My boolean is: {my_boolean}')
# List
my_list = [1, 2, 3, 4, 5]
print(f'My list is: {my_list}')
# Tuple
my_tuple = (1, 2, 3)
print(f'My tuple is: {my_tuple}')
# Set
my_set = {1, 2, 3}
print(f'My set is: {my_set}')
# Dictionary
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(f'My dictionary is: {my_dict}')
# NoneType
my_none = None
print(f'My NoneType is: {my_none}')

My integer is: 5
My float is: 3.14
My string is: Hello, world!
My boolean is: True
My list is: [1, 2, 3, 4, 5]
My tuple is: (1, 2, 3)
My set is: {1, 2, 3}
My dictionary is: {'key1': 'value1', 'key2': 'value2'}
My NoneType is: None

In [4]:
# Integer
my_integer = 5
# Float
my_float = 3.14
# String
my_string = "Hello, world!"
# Boolean
my_boolean = True
print(f'My integer is: {my_integer}. My float is: {my_float}. My string is: {my_string}. My boolean is: {my_boolean}.')

My integer is: 5. My float is: 3.14. My string is: Hello, world!. My boolean is: True.

### Using the format() method

In [7]:
# Integer
my_integer = 5
# Float
my_float = 3.14
# String
my_string = "Hello, world!"
# Boolean
my_boolean = True
print('My integer is: {}. My float is: {}. My string is: {}. My boolean is: {}.'.format(my_integer,my_float,my_string,my_boolean))

My integer is: 5. My float is: 3.14. My string is: Hello, world!. My boolean is: True.

### Using % formatting

In [8]:
# Integer
my_integer = 5
# Float
my_float = 3.14
# String
my_string = "Hello, world!"
# Boolean
my_boolean = True

# print statement
print('My integer is: %d. My float is: %f. My string is: %s. My boolean is: %s.' % (my_integer, my_float, my_string, my_boolean))

My integer is: 5. My float is: 3.140000. My string is: Hello, world!. My boolean is: True.

## Receiving Input

In [12]:
name = input("Please, enter your name:")
print("Hello,", name, "! Nice to meet you.")

Please, enter your name:Amir
Hello, Amir ! Nice to meet you.

In [14]:
# Prompt the user to enter their name and age separated by a comma
data = input("Please enter your name and age separated by a comma: ")

# Split the input string based on the comma delimiter
name, age = data.split(',')

# Display a message using the entered name and age
print("Hello,", name.strip(), "! You are", age, "years old.")

Please enter your name and age separated by a comma: Amir, 28
Hello, Amir ! You are  28 years old.

## Different Ways of Casting Variable Types

In [15]:
# Prompt the user to enter their name and age separated by a comma
data = input("Please enter your name and age separated by a comma: ")

# Split the input string based on the comma delimiter
name, age = data.split(',')

# Display a message using the entered name and age
print("Hello,", name.strip(), "! You are", age+1, "years old.")

Please enter your name and age separated by a comma: Amir, 28

TypeError: can only concatenate str (not "int") to str

In [16]:
# Integer to String
x = 10
str_x = str(x)
print(str_x)  # Output: '10'

# String to Integer
y = '20'
int_y = int(y)
print(int_y)  # Output: 20

# String to Float
z = '3.14'
float_z = float(z)
print(float_z)  # Output: 3.14

# Float to Integer
a = 5.8
int_a = int(a)
print(int_a)  # Output: 5

10
20
3.14
5

In [18]:
# Prompt the user to enter their name and age separated by a comma
data = input("Please enter your name and age separated by a comma: ")

# Split the input string based on the comma delimiter
name, age_str = data.split(',')

# Convert the entered age string to an integer
age = int(age_str)

age = age + 1

# Display a message using the entered name and age
print("Hello,", name.strip(), "! You are", age, "years old.")

Please enter your name and age separated by a comma: Amir, 28
Hello, Amir ! You are 29 years old.

## A Comprehensive Guide to Arithmetic Operations

In [20]:
# Addition
result_addition = 3 + 5
print("Addition:", result_addition)  # Output: 8

# Subtraction
result_subtraction = 7 - 2
print("Subtraction:", result_subtraction)  # Output: 5

# Multiplication
result_multiplication = 4 * 6
print("Multiplication:", result_multiplication)  # Output: 24

# Division
result_division = 10 / 3
print("Division:", result_division)  # Output: 3.3333

# Exponentiation
result_exponentiation = 2 ** 3
print("Exponentiation:", result_exponentiation)  # Output: 8

# Floor Division
result_floor_division = 10 // 3
print("Floor Division:", result_floor_division)  # Output: 3

# Modulus
result_modulus = 10 % 3
print("Modulus:", result_modulus)  # Output: 1

Addition: 8
Subtraction: 5
Multiplication: 24
Division: 3.3333333333333335
Exponentiation: 8
Floor Division: 3
Modulus: 1

## Comprehensive Guide to String Manipulation

### Concatenation

In [26]:
str1 = "Amir Hossein"
str2 = "Alikhah Mishamandani"
concatenated_str = str1 + " " + str2
print(concatenated_str)  # Output: Amir Hossein Alikhah Mishamandani

Amir Hossein Alikhah Mishamandani

### Accessing Characters

In [27]:
my_string = "Python"
print(my_string[0])  # Output the first character: P
print(my_string[-1])  # Output the last character: n

P
n

### Slicing

In [28]:
my_string = "Python Programming"
substring = my_string[7:18]
print(substring)  # Output: Programming

Programming

### String Length

In [29]:
my_string = "Python Programming"
print(len(my_string))  # Output: 18

18

### Changing Case

In [31]:
# Define a string variable containing the text "Hello, World!"
my_string = "Hello, World!"

# Print the lowercase version of the string
print(my_string.lower())  # Output: hello, world!

# Print the uppercase version of the string
print(my_string.upper())  # Output: HELLO, WORLD!

# Print the string with the first character capitalized and the rest lowercase
print(my_string.capitalize())  # Output: Hello, world!

# Print the string with the first character of each word capitalized and the rest lowercase
print(my_string.title())  # Output: Hello, World!

hello, world!
HELLO, WORLD!
Hello, world!
Hello, World!

### String Replacement

In [32]:
my_string = "His name is Mike! Mike is from Iran. Mike is 28 years old! Welcome, Mike!"
new_string = my_string.replace("Mike", "Amir")
print(new_string)

His name is Amir! Amir is from Iran. Amir is 28 years old! Welcome, Amir!

### Splitting

In [35]:
my_string = "apple,banana,orange,mango,grape,kiwi,pear,pineapple,strawberry,watermelon"
fruits_list = my_string.split(",")
print(fruits_list)

['apple', 'banana', 'orange', 'mango', 'grape', 'kiwi', 'pear', 'pineapple', 'strawberry', 'watermelon']

### Checking Substrings

In [36]:
my_string = "Python is great"
print("Python" in my_string)  # Output: True
print("Java" in my_string)  # Output: False

True
False